@model LeaveManagement.ViewModel.Employee.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="my-5">
    <div class="row justify-content-center align-items-center">
        <div class="card col-sm-6">
            <h1 class="card-title text-center mt-4">Registration</h1>
            <div class="card-body">
                <form action="/HR/employee/register" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="form-group mr-3">
                        <label for="txtName">Name</label>
                        <input type="text" class="form-control" id="txtName" placeholder="Enter name" name="EmployeeName" autofocus="autofocus" />
                        @Html.ValidationMessageFor(temp => temp.EmployeeName)
                    </div>
                    <div class="form-group mr-3">
                        <label for="txtEmail">Email</label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Email" name="Email" />
                        @Html.ValidationMessageFor(temp => temp.Email)
                    </div>
                    <div class="form-group mr-3">
                        <label for="txtMobile">Mobile</label>
                        <input type="text" class="form-control" id="txtMobile" placeholder="Mobile" name="Phone" pattern="^[789]\d{9}$" />
                    </div>
                    <div class="form-row mr-3">
                        <div class="form-group col-sm-6">
                            <label for="txtPassword">Password</label>
                            <input type="password" class="form-control" id="txtPassword" placeholder="Password" name="Password" minlength="6" oninput="form.ConfirmPassword.pattern = escapeRegExp(this.value)" />
                            @Html.ValidationMessageFor(temp => temp.Password)
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="txtPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirm Password" name="ConfirmPassword" />
                            @Html.ValidationMessageFor(temp => temp.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-row mr-3">
                        <label for="txtRoles">Employee Role</label>
                        <select type="text" class="form-control" id="txtRoles" name="EmployeeRoles">
                            <option value="">Please select</option>
                            <option value="Employee">Employee</option>
                            <option value="PM">Project Manager</option>
                            <option value="HR">HR</option>
                        </select>
                    </div>
                    @Html.ValidationSummary()
                    <div class="form-row justify-content-center align-items-center">
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary align-items-center mt-4">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

