@model List<LeaveManagement.ViewModel.Employee.EmployeeViewModel>

@{
    ViewBag.Title = "SearchByRole";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Employees</h2>
<table class="table">
    <thead>
        <tr>
            <th>Employee Image</th>
            <th>Employee Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Phone</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.ImageUrl != null)
                {
                    <img src="data:image/png;base64,@item.ImageUrl" width="60" />
                }
                else
                {
                    <img src="https://i.pinimg.com/originals/19/b8/d6/19b8d6e9b13eef23ec9c746968bb88b1.jpg" width="60" />
                }
            </td>
            <td>@item.EmployeeName</td>
            <td>@item.Email</td>
            <td>@item.EmployeeRoles</td>
            @if (item.DateOfBirth != null)
            {
                <td>@item.DateOfBirth.Value.ToString("MMM dd, yyyy")</td>
            }
            else
            {
                <td></td>
            }
            @if (item.Address != null)
            {
                <td>@item.Address</td>
            }
            else
            {
                <td></td>
            }
            <td>@item.Phone</td>
            <td>
                @*<a href="/products/details/@item.ProductID" class="nav-link d-sm-inline-block">Details</a>*@
                @*<a href="/HR/Emplotee/Update/@item.Id" class="nav-link d-sm-inline-block">Edit</a>
            <a href="/HR/Emplotee/Delete/@item.Id" class="nav-link d-sm-inline-block">Delete</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>

