@model List<LeaveManagement.ViewModel.Leave.LeaveViewModel>
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Leaves</h2>
<a href="/Employee/Leave/Request" class="btn btn-outline-success ">Request Leave</a>
<table class="table">
    <thead>
        <tr>
            <th>Project Manager</th>
            <th>Number of Days</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th>Status</th>
            <th>Remarks </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectManagerName</td>
                <td>@item.NoOfDays</td>
                <td>@item.StartDate.Value.ToString("MMM dd, yyyy")</td>
                <td>@item.EndDate.Value.ToString("MMM dd, yyyy")</td>
                <td>@item.LeaveDescription</td>
                <td>@item.LeaveStatus</td>
                <td>@item.Remarks</td>
            </tr>
        }
    </tbody>
</table>


